{% extends "layout.html" %}
{% block main_block %}
    <div class="jumbotron">
        <h1>Преподавай с кеф</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Регистрирай се!</a>
        </p>
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Уроци или лекции</h4>
            <p>Лесно управление на теми, които искаш да преподаваш.</p>

            <h4>Екипи или класове</h4>
            <p>Групирай уроцитe си по удобни начин, участвай в състезания.</p>

            <h4>Частни уроци или в училище</h4>
            <p>Използвай сайта за лични или професионални цели.</p>
        </div>
        <div class="col-lg-6">
            <h4>Статистика и репорти</h4>
            <p>Информацията е достъпна във файлове удобни за принтиране.</p>

            <h4>API</h4>
            <p>Сигурен и удобен начин за достъп до смислени данни и функции, навсякъде.</p>

            <h4>Игровизация</h4>
            <p>Ученето и преподаването стават по-ефективни, когато са забавни.</p>
        </div>
    </div>
{% endblock %}