{% extends "layout.html" %}
{% block main_block %}
    <h3>Класация на лидерите</h3>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Екип</th>
                <th>От</th>
                <th>Точки</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>5Б клас</td>
                <td>144 СОУ</td>
                <td>1000</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>3A клас</td>
                <td>81 СОУ</td>
                <td>900</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>2В клас</td>
                <td>51 ОУ</td>
                <td>800</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>7Г клас</td>
                <td>66 СОУ</td>
                <td>700</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}