{% extends "layout.html" %}
{% block main_block %}
    <h3>Класация на лидерите</h3>
    <p>Измерват се седмични резултати</p>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Екип</th>
                <th>Училище</th>
                <th>Успеваемост</th>
                <th>Успехи</th>
                <th>Задачи</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="teams/5a">5A клас</a></td>
                <td>144 СОУ</td>
                <td>50%</td>
                <td>5</td>
                <td>10</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>3A клас</td>
                <td>81 СОУ</td>
                <td>40%</td>
                <td>4</td>
                <td>10</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>2В клас</td>
                <td>51 ОУ</td>
                <td>30%</td>
                <td>3</td>
                <td>15</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>7Г клас</td>
                <td>66 СОУ</td>
                <td>25%</td>
                <td>1</td>
                <td>4</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}